@font-face {
  font-family: titleFonts;
  src: url(assets/Creepster-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000; 
}
.navbar-logo img {
  height: 60px;
}
.navbar-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: auto;
}
.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-family: titleFonts;
  padding: 5px 10px;
}

.content {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  text-align: center;
  height: 280px;
}

.card h1 {
  color: var(--red);
  margin-bottom: 1rem;
}

.card p {
  font-size: 17px;
  line-height: 1.6;
}

.section-title {
  display: inline-block;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 10px;
  /* margin-top: 100px; */
  font-size: 40px;
  font-family: titleFonts;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--white);
}

.image-announce-xl {
  width: 100%;
  object-fit: cover;
  height: auto;
  object-position: center;
}


.image-announce {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: auto;
}

.mission-vision-title {
  font-family: titleFonts;
}

:root {
  --red: #ce1e25;
  --red-dark:  #641316;
  --black: #1d1d1d;
  --orange: #e84a15;
  --orange-light: #ee761d;
  --yellow: #f9cf7e;
  --light-purple: #380f12;
  --purple: #1b1c39;
  --white: #fff;
}

@media only screen and (max-width: 630px) {
  .card p {
    font-size: 13px;
    line-height: 1.6;
  }

  .card { 
    width: 100%;
    margin: 0;
    height: auto;
  }
}
